@model TestingLiftInfo.Web.ViewModels.Checks.CheckOutputViewModel

<div class="u-text-center u-margin-top--100">
    <h1 class="u-margin-bottom--50">Проверка на асансьор с регистрационен № @Model.RegistrationNumber</h1>

    @if (Model.Date == null)
    {
        <p class="u-text-danger u-text-size--30">Асансьорът не е регистриран в нашата система!!!</p>

    }
    else if (Model.Date.GetValueOrDefault().AddYears(1) <= DateTime.UtcNow.AddYears(1) && Model.Date.GetValueOrDefault().AddYears(1) >= DateTime.UtcNow 
        || Model.Date.GetValueOrDefault().AddDays(-1) <= DateTime.UtcNow && Model.Date.GetValueOrDefault().AddDays(-1) >= DateTime.UtcNow.AddDays(-2))
    {
        <p class="u-text-size--26"><span class="u-text-bold--700">Статус: </span><span  class="u-text-family-comicSans u-text-italic u-text-ok">Има валиден преглед!</span></p>
        <p class="u-text-size--26"><span class="u-text-bold--700">Валиден до: </span><span class="u-text-family-comicSans u-text-italic">@Model.Date.GetValueOrDefault().AddYears(1).ToString("dd.MM.yyyy г.")</span></p>
    }
    else
    {
        <p class="u-text-size--26"><span class="u-text-bold--700">Статус: </span><font class="u-text-family-comicSans u-text-danger">Няма валиден преглед!</font></p>

        @if (Model.Date.GetValueOrDefault().AddYears(1) >= DateTime.UtcNow.AddYears(-2))
        {
            <p class="u-text-size--26"><span class="u-text-bold--700">Валиден до: </span><span  class="u-text-family-comicSans u-text-italic u-text-danger">@Model.Date.GetValueOrDefault().AddYears(1).ToString("dd.MM.yyyy г.")</span></p>
        }
    }
</div>
<div class="u-text-center u-margin-top--50">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-back">Върни ме в Началото 😉</a>
</div>