@model TestingLiftInfo.Web.ViewModels.Checks.CheckOutputViewModel

<div class="text-center" style="margin-top:100px">
    <p><font size="8"><b>Проверка на асансьор с регистрационен № @Model.RegistrationNumber</b></font></p>

    @if (Model.Date == null)
    {
        <p><font size="6" style="color:red">Асансьорът не е регистриран в нашата система!!!</font></p>

    }
    else if (Model.Date.GetValueOrDefault().AddYears(1) <= DateTime.UtcNow.AddYears(1) && Model.Date.GetValueOrDefault().AddYears(1) >= DateTime.UtcNow 
        || Model.Date.GetValueOrDefault().AddDays(-1) <= DateTime.UtcNow && Model.Date.GetValueOrDefault().AddDays(-1) >= DateTime.UtcNow.AddDays(-2))
    {
        <p><font size="6"><b>Статус: </b><font style="font-family:'Comic Sans MS'"><i>Има валиден преглед!</i></font></font></p>
        <p><font size="6"><b>Валиден до: </b><font style="font-family:'Comic Sans MS'"><i>@Model.Date.GetValueOrDefault().AddYears(1).ToString("dd.MM.yyyy г.")</i></font></font></p>
    }
    else
    {
        <p><font size="6"><b>Статус: </b><font style="color: red; font-family: 'Comic Sans MS'">Няма валиден преглед!</font></font></p>

        @if (Model.Date.GetValueOrDefault().AddYears(1) >= DateTime.UtcNow.AddYears(-2))
        {
            <p><font size="6"><b>Валиден до: </b><font style="color:red; font-family:'Comic Sans MS'"><i>@Model.Date.GetValueOrDefault().AddYears(1).ToString("dd.MM.yyyy г.")</i></font></font></p>
        }
    }
</div>
<div class="text-center" style="margin-top:50px">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Върни ме в Началото 😉</a>
</div>