@model TestingLiftInfo.Web.ViewModels.Administration.Cities.CreateCityViewModel

<h2>Добави нов град</h2> 

<form asp-area="Administration" asp-controller="City" asp-action="Create" method="post">
    <div class="text-center" style="margin-top:100px">
        <label for="name" style="font-size:larger">Град: </label>
        <input class="form-control-sm" asp-for="Name" type="text" id="name" size="25" />
        <button type="submit" class="btn btn-success btn-sm">Добави</button>
    </div>
</form>