@media (min-width: 960px) {

    #addForm {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    #adminAllName,
    #adminAllEmail {
        min-width: 110px;
        max-width: 110px;
    }

    #adminAllDelete {
        min-width: 80px;
    }
}
