@import '../Settings/settings-breakpoints.scss';

#detailBlock {
    #map {
        width: 45rem;
        height: 28rem;
    }

    #buttonBlock {
        display: grid;
        margin-bottom: 0px;
    }

    .btn {
        margin-left: 0px;
    }
}

/*@include xLarge {
    #detailBlock {
        #map {
            width: 45rem;
            height: 28rem;
        }

        #buttonBlock {
            display: grid;
            margin-bottom: 0px;
        }

        .btn {
            margin-left: 0px;
        }
    }
}*/

@include exstraLarge {
    #detailBlock {
        #map {
            width: 30rem;
        }

        #buttonBlock {
            display: grid;
            margin-bottom: 0px;
        }

        .btn {
            margin-left: 0px;
        }
    }
}

@include large {
    #detailBlock {
        display: block; 
        
        #map {
            margin-top: 20px;
        }
    }
}

@include medium {
    #detailBlock {
        #map {
            width: 25rem;
            margin: 0 auto;
        }        
    }
}

@include phablet {
    #detailBlock {
        #map {
            width: 18rem;
        }
    }
}
