.o-inspect-card {
    border: 3px solid #0094ff;
    border-radius: 5px;
    width: 12rem
}

.o-inspect-card--header {
    font-size: 16px;
    padding: 2px;
    background-color: orange;
    color: steelblue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.o-inspect-card--body {
    list-style-type: none;
}

    .o-inspect-card--body li {
        border-top: 1px solid orange;
    }

    .o-inspect-card--body a {
        text-decoration: none;
        color: steelblue;
    }

        .o-inspect-card--body a:hover {
            cursor: pointer;
            color: red;
        }
