.o-main-page {
    width: 100%;

    &--image {
        width: 90%;
        height: 75%;
        margin: 5px auto;
    }

    &--title {
        font-size: 3em;
        width: 100%;
        margin: 5px auto;
        color: deepskyblue;
        font-family: 'Finger Paint', cursive;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .o-main-page--title {
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    .o-main-page--title {
        font-size: 1.5em;
    }
}
