@media (max-width: 1200px) {
    #liftAddres {
        min-width: 250px;
        max-width: 250px;
    }
}

@media (max-width: 900px) {
    #liftType {
        display: none;
    }
}

@media (max-width: 800px) {
    #liftManufacturer {
        display: none;
    }

    #liftAddres {
        min-width: 200px;
        max-width: 200px;
    }
}

@media (max-width: 600px) {
    #liftCapacity {
        display: none;
    }
}