.e-table {
    border: 2px solid black;
    border-collapse: collapse;
}

.e-table-th--30{
    height: 30px;
}

.e-table-th--40 {
    height: 40px;
}

.e-table-td--30 {
    height: 30px;
}

.e-table-border {
    border: 2px solid black;
}

.e-table-cell-width--30 {
    min-width: 30px;
}

.e-table-cell-width--120 {
    min-width: 120px;
}

.e-table-cell-width--140 {
    min-width: 140px;
}

.e-table-cell-width--200 {
    min-width: 200px;
}

.e-table-cell-width--600 {
    min-width: 600px;
}