//Width
$smallWidth: 375px;
$phabletWidth: 480px;
$mobileWidth: 767px;
$mediumWidth: 768px;
$largeWidth: 1024px;
$extraLargeWidth: 1280px;
$xLargeWidth: 1366px;
$superLargeWidth: 1680px;
$maxPageWidth: 1920px;

//Breakpoints
$small: $smallWidth;
$phablet: $phabletWidth;
$mobile: $mobileWidth;
$medium: $mediumWidth;
$large: $largeWidth;
$extraLarge: $extraLargeWidth;
$xLarge: $xLargeWidth;
$superLarge: $superLargeWidth;
$maxPage: $maxPageWidth;







