@model TestingLiftInfo.Web.ViewModels.Administration.Manufacturer.GetAllManufacturerViewModel

@{
    this.ViewData["Title"] = "Производители";
}

<h3>@this.ViewData["Title"]</h3>

<div>
    <a style="float:right" class="btn btn-success mb-3" asp-area="Administration" asp-controller="Manufacturer" asp-action="Create">✙ Добави</a>
</div>

<table class="table table-dark border border-light ">
    <thead>
        <tr>
            <th class=" border border-light text-light" scope="col">№</th>
            <th class="border border-light text-light" scope="col">Име</th>
            <th class="border border-light text-light " scope="col">Брой асансьори</th>
        </tr>
    </thead>
    <tbody>
        @{var list = Model.Manufacturers.Select(x => x.Name).ToList();}
        @for (int i = 0; i < Model.Manufacturers.Count(); i++)
        {
        <tr class="text-dark border-light" style="background-color:honeydew">
            <td class="border border-light" style="width:50px; text-align:center">@(i + 1)</td>
            <td class="border border-light" style="width:800px">@list[i]</td>
            <td class="border border-light">@(i + 1)</td>

        </tr>
        }
    </tbody>
</table>

