[*.cs]

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1500: Braces for multi-line statements should not share line
dotnet_diagnostic.SA1500.severity = none

# SA1518: Use line endings correctly at end of file
dotnet_diagnostic.SA1518.severity = none
