.u-alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.80rem;
}

.u-alert-success {
    color: black;
    background-color: lightgreen;
    border-color: forestgreen;
}

.u-alert-info {
    color: #808080;
    background-color: #00FE9A;
    border-color: #808080;
    z-index: 10;
    top: 55px;
}