.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #222;
    background-color: #efb65d;
    border: 1px solid #FF8800;

    &:hover {
        z-index: 2;
        color: #fff;
        text-decoration: none;
        background-color: #2A9FD6;
        border-color: transparent;
    }

    &:focus {
        z-index: 3;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(42, 159, 214, 0.25);
        box-shadow: 0 0 0 0.2rem rgba(42, 159, 214, 0.25);
    }
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2A9FD6;
    border-color: #2A9FD6;
}

.page-item.disabled .page-link {
    color: #555;
    pointer-events: none;
    cursor: auto;
    background-color: #cccaca;
    border-color: #2A9FD6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.09375rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.765625rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
