@page
@model RegisterModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    ViewData["Title"] = "Регистрация";
}

<h2>@ViewData["Title"]</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Създай нов акаунт.</h4>
            <hr />
            @*<div asp-validation-summary="All" class="u-text-danger"></div>*@
            <div class="o-form-group">
                <label class="u-text-label" asp-for="Input.Name"></label>
                <input asp-for="Input.Name" />
                <span asp-validation-for="Input.Name" class="u-text-danger"></span>
            </div>
            <div class="o-form-group">
                <label class="u-text-label" asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" />
                <span asp-validation-for="Input.FirstName" class="u-text-danger"></span>
            </div>
            <div class="o-form-group">
                <label class="u-text-label" asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" />
                <span asp-validation-for="Input.LastName" class="u-text-danger"></span>
            </div>
            <div class="o-form-group">
                <label class="u-text-label" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" />
                <span asp-validation-for="Input.Email" class="u-text-danger"></span>
            </div>
            <div class="o-form-group">
                <label class="u-text-label" asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control border-dark" />
                <span asp-validation-for="Input.Password" class="u-text-danger"></span>
            </div>
            <div class="o-form-group">
                <label class="u-text-label" asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" />
                <span asp-validation-for="Input.ConfirmPassword" class="u-text-danger"></span>
            </div>
            <input asp-for="Input.RecaptchaValue" type="hidden" id="RecaptchaValue" />

            <button type="submit" class="btn btn-deepskyblue">РЕГИСТРАЦИЯ</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'register' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}