@using TestingLiftInfo.Data.Models.Enumerations
@model TestingLiftInfo.Web.ViewModels.Administration.Lifts.CreateLiftViewModel

<h3>Добави асансьор</h3>

<form asp-area="Administration" asp-controller="Lifts" asp-action="Create" method="post">
    @*<div>
            <label for="name">Град: </label>
            <input asp-for="Cities.Cities" type="text" id="name" />
            <button type="submit" class="btn btn-dark">Добави</button>
        </div>*@


    <div class="form-group justify-content-center">
        <div>
            <label asp-for="LiftType" for="type" style="font-size:18px">Вид на прегледа</label>
            <select asp-for="LiftType" id="type" class="form-control-sm border-dark" asp-items="Html.GetEnumSelectList<LiftType>()"></select>
        </div>
        <div>
            <label for="numberOfStops" style="font-size:18px">Брой спирки</label>
            <input asp-for="NumberOfStops" type="number" id="numberOfStops" class="form-control-sm" min="2" max="100"/>
        </div>
        <div>
            <label for="name" style="font-size:18px">Град</label>
            <select id="name" class="form-control-sm border-dark" name="Name">
                @foreach (var item in Model.Cities)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>
        </div>
    </div>



    <button type="submit" class="btn btn-dark">Добави</button>

</form>