@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="u-alert u-alert-info u-position--absolute" role="alert">
        Ние използваме бисквитки, за да разберем как използвате нашия сайт и да подобрим вашето преживяване. <a asp-area="" asp-controller="Home" asp-action="Privacy">Научи повече</a>.
        <button type="button" class="btn btn-accept-policy" data-cookie-string="@cookieString">Приемам</button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            let divElement = document.querySelector("#cookieConsent");

            button.addEventListener("click", function () {
                document.cookie = button.dataset.cookieString;
                divElement.style.display = 'none';
            }, false);
        })();
    </script>
}
