@using TestingLiftInfo.Common
@using TestingLiftInfo.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{var user = this.UserManager.FindByEmailAsync(this.User.Identity.Name); }

<ul class="o-row-container c-header--ul-container">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="c-header--li">
            <a class="c-header--a" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i></a>
        </li>

        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="c-header--li">
                <a class="c-header--a" asp-area="Administration" asp-controller="Admin" asp-action="All" title="Инспектори">Инспектори</a>
            </li>

            <li class="c-header--li dropdown">
                <a class="c-header--a" @*href=""*@>Асансьори</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Lifts" asp-action="Create" title="Създай нов">Създай нов</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Lifts" asp-action="All" title="Регистър">Регистър</a>
                </div>
            </li>

            <li class="c-header--li dropdown">
                <a class="c-header--a" @*href=""*@>Администрация</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Cities" asp-action="All" title="Градове">Градове</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="Manufacturers" asp-action="All" title="Производители">Производители</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="InspectTypes" asp-action="All" title="Поддържащи фирми">Видове прегледи</a>
                    <a class="dropdown-item" asp-area="Administration" asp-controller="SupportCompanies" asp-action="All" title="Поддържащи фирми">Поддържащи фирми</a>
                </div>
            </li>
        }
        else if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="c-header--li">
                <a class="c-header--a" asp-area="" asp-controller="Follows" asp-action="Create">Последвай</a>
            </li>
            <li class="c-header--li">
                <a class="c-header--a" asp-area="" asp-controller="Follows" asp-action="All">Мойте асансьори</a>
            </li>
        }

        <li class="c-header--li">
            <a class="c-header--hello-username" asp-area="Identity" asp-page="/Account/Manage/Index" title="Потребител">Здравей, @user.Result.Name</a>
        </li>

        <li class="c-header--li nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="c-header--btn-logout">Изход</button>
            </form>
        </li>
    }
    else
    {
        <li class="c-header--li">
            <a class="c-header--btn" asp-area="Identity" asp-page="/Account/Register" style="font-size:larger">Регистрация</a>
        </li>
        <li class="c-header--li">
            <a class="c-header--btn" asp-area="Identity" asp-page="/Account/Login" style="font-size:larger">Вход</a>
        </li>
    }
</ul>