@page
@model IndexModel
@{
    ViewData["Title"] = "Профил";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="u-margin-top--20">@ViewData["Title"]</h3>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="o-row-container">
    <form id="profile-form" method="post">
        <div asp-validation-summary="All" class="u-text-danger"></div>
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" disabled />
        </div>
        <div>
            <label asp-for="Input.PhoneNumber"></label>
            <input asp-for="Input.PhoneNumber" />
            <span asp-validation-for="Input.PhoneNumber" class="u-text-danger"></span>
        </div>
        <button id="update-profile-button" type="submit" class="btn btn-add">Запази</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}