@model TestingLiftInfo.Web.ViewModels.Administration.Cities.CreateCityInputModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration


<h3>Добави нов град</h3>

<form asp-area="Administration" asp-controller="Cities" asp-action="Create" method="post" onsubmit="return submitResult();">
    <div class="text-center" style="margin-top:100px">
        <label for="name" style="font-size:larger">Град: </label>
        <input class="form-control-sm" asp-for="Name" type="text" id="name" size="25" />
        <input asp-for="RecaptchaValue" type="hidden" id="RecaptchaValue" />
        <button type="submit" class="btn btn-success btn-sm">✙ Добави</button>
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
        function submitResult() {
            if (confirm("Сигурни ли сте, че искате да добавите този град?") == false) {
                return false;
            } else {
                return true;
            }
        }
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'createCity' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}