@using TestingLiftInfo.Common
@model TestingLiftInfo.Web.ViewModels.Follows.CreateFollowInputModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<h2>Последвай нов асансьор</h2>

<div class="u-margin-top--100">
    <form asp-area="" asp-controller="Follows" asp-action="Create" method="post" onsubmit="return submitResult();">
        <div class="u-text-center">
            <label for="name" class="u-text-larger">Регистрационен №: </label>
            <input asp-for="RegistrationNumber" type="text" id="name" size="25" />
            <input asp-for="RecaptchaValue" type="hidden" id="RecaptchaValue" />

            <button type="submit" class="btn btn-green">✙ Последвай</button>
        </div>
    </form>
</div>

<div class="u-text-center u-margin-top--50 u-text-danger" >
    <a class="u-text-size--20 u-text-italic">Забележка: Може да следите до @GlobalConstants.LimitFollowLifts асансьора!</a>
</div>

@section Scripts
{
    <script>
        function submitResult() {
            if (confirm("Сигурни ли сте, че искате да добавите този асансьор към Вашия списък?") == false) {
                return false;
            } else {
                return true;
            }
        }
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'createInspectType' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}
