<body class="change-background u-text-center">
    <h1 class="u-margin-top-and-bottom--20">Страницата не беше намерена!</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-deepskyblue">Върни ме в Началото 😉</a>
    <div class="u-margin-top-and-bottom--20">
        <img class="error-img" src="~/Image/HttpError.jpg" />
    </div>
</body>
