<html>
<body style="background-color:orange">
    <h1 class="justify-content-center">Страницата не беше намерена!</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg" style="margin-left:430px; margin-top:30px">Върни ме в Началото 😉</a>
    <div>
        <img src="~/Image/HttpError.jpg"  style="margin-left:230px; margin-top:40px"/>
    </div>
</body>
</html>