@using TestingLiftInfo.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-sm-5">Здравей, добре дошъл в @GlobalConstants.Logo!</h1>
    <p class="font-weight-bold font-italic">Тук може да намериш информация</p>
    <p class="font-weight-bold font-italic">за</p>
    <p class="font-weight-bold box-shadow font-italic">техническите прегледи на твоя асансьор!</p>

    <a class="btn btn-outline-primary text-warning" asp-area="Identity" asp-page="/Account/Login">ВХОД</a>

</div>
