@using TestingLiftInfo.Common
@model TestingLiftInfo.Web.ViewModels.Checks.InputCheckViewModel
@{
    this.ViewData["Title"] = "Home Page";
}
<article class="o-index-page">
    <section class="o-column-container o-index-page-title">
        <p>Здравейте и добре дошли в информационната система</p>
        <h1>@GlobalConstants.Logo!</h1>
    </section>
    <section class="o-index-page-input-container">
        <section>
            <div>
                <p>Тук може да намерите пълната информация</p>
                <p>за</p>
                <p>техническите прегледи на Вашия асансьор!</p>
                <p>Влез в системата...</p>

            </div>

            <a class="btn btn-orange" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> ВХОД</a>
        </section>

        <form asp-area="" asp-controller="Checks" asp-action="ValidInspect" method="post">
            <div>
                <p class="text-bold--800">Бързо търсене без регистрация!!!</p>
                <p>Провери валидността на техническия преглед!</p>
                <p>На всеки един регистриран асансьор!</p>
            </div>
            <div>
                <input asp-for="RegistrationNumber" type="text" id="registrationNumber" placeholder="777AC456" />
                <p class="text-small"><em>Въведете единственно, пълния регистрационен номер на съоръжението!</em></p>

            </div>
            <div>
                <button type="submit" class="btn btn-green">ПРОВЕРИ 😉</button>
            </div>

        </form>
    </section>
    <div class="important-text">
        <p>При забелязани нередности и инциденти, моля сигнализирайте незабавно Инспекция за държавен технически надзор!!!</p>
    </div>
</article>
