<section class="o-column-container o-main-page">
    <div class="o-row-container">
        <img class="o-main-page--image" src="~/Image/MainPage.jpg" />
    </div>
    <div>
        <p class="o-row-container o-main-page--title">Провери информацията за твоя Асансьор!</p>
    </div>
</section>