<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
    <img src="~/Image/MainPage.jpg" height="500" width="1100"/>
   <a style="margin-left:300px"><font size="6" style="font-family:'Comic Sans MS'; color:dodgerblue">Провери информацията за твоя Асансьор</font></a>
</body>
</html>