@model TestingLiftInfo.Web.ViewModels.Administration.Admin.AddAdminViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<h3>Добави нов инспектор</h3>

<form asp-area="Administration" asp-controller="Admin" asp-action="AddAdmin" method="post" onsubmit="return submitResult();">
    <div class="text-center" style="margin-top:100px">
        <label for="name" style="font-size:larger">E-mail на потребителя: </label>
        <input class="form-control-sm" asp-for="Email" type="text" id="name" size="25" />
        <button type="submit" class="btn btn-success btn-sm">✙ Добави</button>
    </div>
</form>

@section Scripts
{
    <script>
        function submitResult() {
            if (confirm("Сигурни ли сте, че искате да добавите този потребител като инспектор в системата?") == false) {
                return false;
            } else {
                return true;
            }
        }
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}