<h3  style="margin-top:200px; text-align:center">Потребителя е добавен като инспектор!!!</h3>

<div class="text-center">
    <a class="btn btn-success" style="margin-top:40px" asp-area="Administration" asp-controller="Admin" asp-action="All">Всички инспектори</a>
    <a class="btn btn-primary" style="margin-top:40px" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
</div>