<h2 class="u-margin-bottom--100">Потребителя е добавен като инспектор!!!</h2>

<div class="u-text-center">
    <a class="btn btn-add" asp-area="Administration" asp-controller="Admin" asp-action="All">Всички инспектори</a>
    <a class="btn btn-deepskyblue" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
</div>