@model TestingLiftInfo.Web.ViewModels.Administration.Manufacturers.CreateManufacturerInputModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration


<h3>Добави нов производител</h3>

<form asp-area="Administration" asp-controller="Manufacturers" asp-action="Create" method="post" onsubmit="return submitResult();">
    <div class="u-text-center u-margin-top--100">
        <label for="name" class="u-text-larger">Производител: </label>
        <input asp-for="Name" type="text" />
        <input asp-for="RecaptchaValue" type="hidden" id="RecaptchaValue" />
        <button type="submit" class="btn btn-add">✙ Добави</button>
        <div>
            <span asp-validation-for="Name" class="u-text-danger"></span>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
        function submitResult() {
            if (confirm("Сигурни ли сте, че искате да добавите този производител?") == false) {
                return false;
            } else {
                return true;
            }
        }
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'createManufacturer' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}